# **Machine Learning II | Project**

## Customer Segmentation
<b> *[Short description]* </b>
<p>

*Group 8*

*Group members* : Gonçalo Palhoto (20231639), João de Sousa (numero) and Tiago da Cruz (20231682).</p>

### **Table of Contents** <a id='table_of_contents'></a>

0. [Import libraries](#imports)
1. [Import data](#import_data)
2. [Data exploration](#data_exploration)
3. [Data preprocessing](#data_preprocessing)
6. [Feature engineering](#feature_engineering)

# 0. Import libraries <a id='imports'></a>
[Back to top](#table_of_contents)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Import data <a id='import_data'></a>
[Back to top](#table_of_contents)

In [2]:
# Setting the maximum number of columns to display
pd.set_option('display.max_columns', 100)

In [3]:
customer_basket = pd.read_csv('data/raw/customer_basket.csv',
                              index_col='invoice_id')
customer_info = pd.read_csv('data/raw/customer_info.csv', 
                            usecols=lambda x: x not in ['Unnamed: 0'],
                            index_col='customer_id')

In [4]:
display(customer_basket.head())
display(customer_info.head())

                                                list_of_goods  customer_id
invoice_id
5062209     ['megaman zero 3', 'energy bar', 'pokemon viol...         4925
4272512     ['black beer', 'bramble', 'laptop', 'pokemon v...        19046
7121052     ['soup', 'shallot', 'cake', 'fresh bread', 'cr...        10318
5847748     ['soup', 'cooking oil', 'cereals', 'oil', 'dog...        27283
6336114     ['eggplant', 'mint green tea', 'oil', 'bacon',...        16072

,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,lifetime_spend_vegetables,lifetime_spend_nonalcohol_drinks,lifetime_spend_alcohol_drinks,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_spend_petfood,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
customer_id,,,,,,,,,,,,,,,,,,,,,,,,
29930,April Clark,female,01/15/1972 02:27 PM,2.0,2.0,1.0,4.0,7789.0,5601.0,13.0,726.0,962.0,1213.0,1598.0,1894.0,457.0,412.0,428.0,386.0,0.158741,2018.0,NaN,38.721807,-9.125534
6813,Bsc. Paul Ketchum,male,07/31/1944 10:53 AM,0.0,1.0,0.0,4.0,8653.0,35.0,14.0,792.0,102.0,104.0,741.0,346.0,394.0,75.0,226.0,73.0,1.227890,2013.0,971840.0,38.734668,-9.163533
39451,Mary Downing,female,11/13/1989 02:11 PM,2.0,3.0,0.0,7.0,15605.0,4275.0,14.0,1585.0,980.0,1872.0,1323.0,1971.0,920.0,335.0,192.0,319.0,0.101598,2011.0,NaN,38.787126,-9.147077
21557,Manuel Kueny,male,08/09/1976 06:23 AM,0.0,0.0,1.0,1.0,13440.0,16366.0,14.0,28.0,269.0,1855.0,939.0,785.0,139.0,679.0,270.0,221.0,0.259943,2009.0,NaN,38.741816,-9.159700
16415,Phd. Curtis Tharp,male,07/11/1966 08:12 AM,1.0,1.0,1.0,5.0,49250.0,3197.0,14.0,258.0,726.0,547.0,983.0,1492.0,1046.0,112.0,144.0,244.0,0.317822,2012.0,925367.0,38.785921,-9.149221

# 2. Data exploration <a id='data_exploration'></a>
[Back to top](#table_of_contents)

In [5]:
customer_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34060 entries, 29930 to 22050
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customer_name                            34060 non-null  object
 1   customer_gender                          34060 non-null  object
 2   customer_birthdate                       33719 non-null  object
 3   kids_home                                33311 non-null  float64
 4   teens_home                               33277 non-null  float64
 5   number_complaints                        33038 non-null  float64
 6   distinct_stores_visited                  33379 non-null  float64
 7   lifetime_spend_groceries                 34060 non-null  float64
 8   lifetime_spend_electronics               34060 non-null  float64
 9   typical_hour                             32698 non-null  float64
 10  lifetime_spend_vegetables                33038 non-null  float64
 11  lifetime_spend_nonalcohol_drinks         34060 non-null  float64
 12  lifetime_spend_alcohol_drinks            33379 non-null  float64
 13  lifetime_spend_meat                      34060 non-null  float64
 14  lifetime_spend_fish                      32357 non-null  float64
 15  lifetime_spend_hygiene                   34060 non-null  float64
 16  lifetime_spend_videogames                34060 non-null  float64
 17  lifetime_spend_petfood                   34060 non-null  float64
 18  lifetime_total_distinct_products         34060 non-null  float64
 19  percentage_of_products_bought_promotion  34060 non-null  float64
 20  year_first_transaction                   34060 non-null  float64
 21  loyalty_card_number                      23152 non-null  float64
 22  latitude                                 34060 non-null  float64
 23  longitude                                34060 non-null  float64
dtypes: float64(21), object(3)
memory usage: 6.5+ MB

In [6]:
customer_basket.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 5062209 to 6611217
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   list_of_goods  100000 non-null  object
 1   customer_id    100000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.3+ MB

# 3. Data Preprocessing <a id='data_preprocessing'></a>
[Back to top](#table_of_contents)

# 4. Feature engineering <a id='feature_engineering'></a>
[Back to top](#table_of_contents)